<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/files">files</a></li>
                    <li><a href="/profile">profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        Hello <%= username %>
    </div>
    <div class="row">
        <p>
            <% for(var key in subfolobj) {%>
            <ul class="list-unstyled">
                <li class="filesingle">
                    <span>Filename: </span>
                    <span style="display: inline-block;padding: 0 12px;"><%= subfolobj[key] %> </span>
                    <a href="/folder/download?username=<%= username %>&filename=<%=subfolobj[key] %>">Download</a>
                    <!-- <a href="/folder/user?username=<%= username %>&filename=<%=subfolobj[key] %>">Delete</a> -->
                    <a href="javascript:void(0);" class="deletebtn" data-file="<%=subfolobj[key] %>" data-user="<%= username %>">
                        Delete
                    </a>
                </li>
            </ul>
            
            <% } %>
            
        </p>

        
    </div>
    <div class="row">
        <form ref='uploadForm' 
          id='uploadForm' 
          action='/folder/user?username=<%=username%>' 
          method='post' 
          encType="multipart/form-data"> 
            <input type="file" name="image" />
            <input type='submit' value='Upload!' />
        </form> 
        
    </div>

    <div class="text-center">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function(){
        console.log('working'); 
        $('.deletebtn').on("click",function(){
            var el = $(this).parent('.filesingle');
            console.log(el);
            var filename = $(this).data('file');
            var username = $(this).data('user');
            console.log(filename); 
            console.log(username);
            $.ajax({
                url: '/folder/user/'+username+ "/file/"+filename,
                type: 'DELETE',
                    success: function(result) {
                        data = result;
                        console.log(result);
                        el.remove();
                    }
                });
            })
        })
        
</script>
</body>
</html>
